<h2>Book detail</h2>


<span><%=image_tag @books.user.get_profile_image(100,100)%></span>

<p>Title</p>
<span><%=link_to @books.title user_path(@books.user.id) %></span>

<p>Opinion</p>
<span><%= @books.body %></span>